<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/blablafit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/blablafit_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blablafit"
        tools:targetApi="31">
        <activity
            android:name=".activities.RecyclerViewRutinas"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.MainApp"
            android:exported="false" />
        <activity
            android:name=".activities.Registro"
            android:exported="false" />
        <activity
            android:name=".activities.Enviar_Contrasenya"
            android:exported="false" />
        <activity
            android:name=".activities.Recupera_Contrasenya"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivityInicio"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>