<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.blablafit">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/blablafit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/blablafit_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blablafit"
        tools:targetApi="31">
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".Enviar_Contrasenya"
            android:exported="false" />
        <activity
            android:name=".Recupera_Contrasenya"
            android:exported="false" />
        <activity
            android:name=".MainActivityInicio"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>